.Red{
    text-align: center;
}
.Red:hover{
    border: 5px solid #770000;
    padding: 0 8px;

}
.Name{
    font-size: 32px;
    font-weight: bold;
    color: #770000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.centerText{
    text-align: center;
    font-size: large;

}