.Player{
    text-align: center;
    border: none;
    margin: 50px;
}
.Player:hover{
    padding: 0 8px;
    border-style: solid;
    border-width: 5px;
}
.Name{
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.centerText{
    text-align: center;
    font-size: large;

}